<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/app.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Style</title>
</head>
<body>
    <div class="sidebar">
        <a class="active" href="/">Home</a>
        <a href="/posts/new">New Post</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
    </div>
    <div class="content">

    
      