<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/aff3ef053f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/app.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Style</title>
</head>
<body>
    <div class="topnav" id="myTopnav">
        <a href="#home" class="active">Home</a>
        <a href="/login">login</a>
        <a href="/register">Register</a>
        <div class="dropdown">
          <button class="dropbtn">Dropdown 
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div> 
        <a href="#about">About</a>
        <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
    </div>
    <div class="sidenav">
        <a href="/posts">Blogs</a>
        <a href="/posts/new">New Post</a>
        <a href="/settings/posts">Settings</a>
      </div>
      
      <div class="main">

    
      