body {
    background-color: #444444;
    color: #dddddd;
    margin: 0;
    font-family: "Lato", sans-serif;
}
* {
  box-sizing: border-box;
}
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #9e5113;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
    
  }
  div.thumbnail-grid{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap:10px;
    margin-top: 20px;
    text-align: center;
    

  }
  .thumbnail-grid img {
      width:100%;
  }

  .thumbnail h4 {
      color:rgba(247, 252, 252, 0.952);
  }
  /* Styling the singlePost page */
  .singlePost img{
    width: 100%;
    border-radius: 5px;
    padding:10px;
  }
  .singlePost h1{
    color: #9e5113;
  }
  .singlePost h4, .singlePost p {
    color: rgba(75, 61, 61, 0.801);
  }

  @media screen and (max-width: 1200px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
    div.thumbnail-grid{
      grid-template-columns: 1fr 1fr;
  }
  }

  @media screen and (max-width: 600px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
    div.thumbnail-grid{
        grid-template-columns: 1fr;
    }
  }
  div.thumbnail{
    border-radius: 5px;
    border: 2px solid #9e5113;
    padding:5px;
}
.thumbnail a{
  color:#d88b4d;
  text-decoration: none;
}

/* New.ejs styles */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  color:rgb(22, 16, 16);
}

input[type=submit] {
  background-color: #4CAF50;
  color: rgb(53, 48, 48);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px ;
  margin: 20px auto;
  width:75%;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
