body {
    background-color: #444444;
    color: #dddddd;
    margin: 0;
    font-family: "Lato", sans-serif;
}

  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #9e5113;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
    
  }
  div.thumbnail-grid{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap:10px;
    margin-top: 20px;
    text-align: center;
    

  }
  .thumbnail-grid img {
      width:100%;
  }
  .thumbnail h4 {
      color:rgba(247, 252, 252, 0.952);
  }

  @media screen and (max-width: 1200px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
    div.thumbnail-grid{
      grid-template-columns: 1fr 1fr;
  }
  }

  @media screen and (max-width: 600px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
    div.thumbnail-grid{
        grid-template-columns: 1fr;
    }
  }
  div.thumbnail{
    border-radius: 5px;
    border: 2px solid #9e5113;
    padding:5px;
}